body {
    width: 600px;
    background-color: lightcyan;
    min-width: 357px;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Kaku Gothic Pro","Lucida Grande",Verdana,Arial,Meiryo,"メイリオ",sans-serif;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

h1{
    text-align: center;
}

h2{
    margin-left: 10px;
}

#templates{
    display: none;
}

.history_element{
    margin-bottom: 5px;
}

.hidden_first{
    display: none;
}

select{
    border-radius: 5px;
}

#control{
    margin-left: 10px;
}

#tags{
    margin-left: 20px;
}

#regist_time{
    margin-top: 5px;
}

button{
    background-color: bisque;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.setting_button{
    text-align: right;
    left: 500px;
    position: relative;
    background-color: lightgrey;
    height: 30px;
}

#history_detail{
    max-width: 500px;
    margin-top: 3px;
    background-color: aliceblue;
    max-height: 300px;
    overflow: scroll;
}

#history_domain{
    margin-bottom: 10px;
    margin-left: 20px;
}

#history_detail div{
    margin-bottom: 2px;
}

.current_contents{
    margin-top: 5px;
    text-align: center;
}
