body {
    width: 600px;
    background-color: lightcyan;
    min-width: 357px;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Kaku Gothic Pro","Lucida Grande",Verdana,Arial,Meiryo,"メイリオ",sans-serif;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

h1{
    text-align: center;
}

h2{
    margin-left: 10px;
}

#history_element_template{
    display: none;
}

.history_element{
    margin-bottom: 5px;
    margin-left: 10px;
}

button{
    background-color: bisque;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#history_detail{
    max-width: 500px;
    margin-left: 25px;
    margin-top: 3px;
    background-color: aliceblue;
    max-height: 300px;
    overflow: scroll;
}

#history_detail div{
    margin-bottom: 2px;
}
